$primary-color: #02cbcb;

.calendar_main {
	width: 320px; 
	margin: 0 auto;
	padding: 20px;
	border-bottom: 1px solid #dfdfdf;
	header {
		h1 {
			margin: 10px 0 0 10px;
			font-size: 20px;
			color: #0297b9;
		}
		h2 {
			overflow: hidden;
			margin: 0 10px 15px;
			color: $primary-color;
			.month_text {
				float: left;
				width: 110px;
				margin: 0;
				font-size: 18px;
			}
			.arrow_left {
				margin: 0;
				float: right;
				font-size: 18px;
				color: #d3d1d1;
				cursor: pointer;
				&:hover {
					color: #909090;
				}
			}
			.arrow_right {
				margin: 0;
				float: right;
				font-size: 18px;
				margin-left: 15px;
				color: #d3d1d1;
				cursor: pointer;
				&:hover {
					color: #909090;
				}
			}
		}		
	}
	ul {
		overflow: hidden;
		margin: 10px 0 5px;
		padding: 0;
		li {
			float: left;
			width: 45.7px;
			list-style: none;
			text-align: center;
			font-weight: 600;
			&.sunday {
				color: #f70050;
			}
			&.saturday {
				color: #4191f3
			}
		}
	}
	
	.calendar_cnt {
		overflow: hidden;
		padding: 0;
		div {
			position: relative;
			display: block;
			float: left;
			width: 45.7px;
			height: 50px;
			text-align: center;
			line-height: 50px;
			&.box_date {
				cursor: pointer;
			}
			&.today {
				font-weight: bold;
				color: $primary-color;
			}
			&.selectActive {
				font-weight: 600;	
				color: #fff;	
				box-sizing: border-box;
				&::after{
					content: '';
					position: absolute;
					display: block;
					top: 5px;
					left: 5px;
					width: 40px;
					height: 40px;
					border-radius: 40px;		
					background: $primary-color;
					z-index: -5;
				}
			}
		}
	}

}