.calendar_main {
	header {
		h1 {
			font-size: 20px;
		}
		h2 {
			font-size: 15px;
		}		
		
	}
	ul {
		overflow: hidden;
		padding: 0;
		.sunday {
			color: #df0100;
		}
		.saturday {
			color: #0575ff
		}
		li {
			float: left;
			width: 14%;
			list-style: none;
			text-align: center;
		}
	}
	.arrow_left {
		margin-right:20px;
	}
	.arrow_right {
		margin-left:20px;
	}
	.calendar_cnt {
		overflow: hidden;
		padding: 0;
		
		div {
			display: block;
			float: left;
			width: 14%;
			height: 50px;
			text-align: center;
			&.today {
				font-weight: bold;
				color: #0575ff;
			}
			&.select {
				color: rgb(4, 228, 4);
			}
		}
	}

}