.calendar_main {
	header {
		h1 {
			font-size: 20px;
		}
		h2 {
			font-size: 15px;
			.arrow_left {
				margin-left: 10px;
			}
			.arrow_right {
				margin-left: 10px;
			}
		}		
	}
	ul {
		overflow: hidden;
		padding: 0;
		
		li {
			float: left;
			width: 14%;
			list-style: none;
			text-align: center;
			font-weight: 600;
			&.sunday {
				color: #f70050;
			}
			&.saturday {
				color: #4191f3
			}
		}
	}
	
	.calendar_cnt {
		overflow: hidden;
		padding: 0;
		
		div {
			display: block;
			float: left;
			width: 14%;
			height: 50px;
			text-align: center;
			line-height: 50px;
			cursor: pointer;
			&.today {
				font-weight: bold;
				color: #4191f3
			}
			&.selectActive {
				font-weight: 600;
				border-radius: 50px;
				box-sizing: border-box;
				background: #02cbb8;
				color: #fff;
			}
		}
	}

}