$primary-color: #02cbcb;
$primary-font: 'Noto Sans KR';

.list_main {
    overflow: hidden;
    padding: 15px;
    background: #fff;
    font-family: $primary-font;
    .list_title_wrap {
        overflow: hidden;
        margin: 10px 0 0;
        h3 {
            overflow: hidden;
            float: left;
            margin: 0;
            strong {
                font-size: 18px;
                font-weight: 800;
            }
            span {
                margin-left: 5px;
                font-size: 15px;
                font-weight: 500;
                color: #9f9c9c;
            }
            p {
                float: right;
            }
        }
        p {
            float: right;
            margin: 0;
            height: 20px;
            padding: 0;
        }
    }
    .list_cnt_wrap {
        margin: 20px 0 0;
        .list_cnt {
            overflow: hidden;
            padding: 0;
            .list_check {
                float: left;
                width: 10%;
                margin: 10px 0 0;
                padding: 0;
                input {
                    display: none;
                   
                }
                label {
                    display: flex;
                    width: 20px;
                    height: 20px;
                    background-color: #fff;
                    border-radius: 20px;
                    border: 3px solid #bbb;
                    box-sizing: border-box;
                    cursor: pointer;
                }
                input:checked + label {
                    background-color: $primary-color;
                    border: 3px solid $primary-color;
                }
                input:checked + label::after {
                    content:'✔';
                    width: 14px;
                    height: 14px;
                    margin: 0;
                    font-size: 10px;
                    text-align: center;
                    line-height: 14px;
                    color: #fff
                  }
                
            }
            .list_box {
                position: relative;
                float: left;
                width: 90%;
                min-height: 100px;
                margin: 0 0 10px;
                padding: 15px;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                box-sizing: border-box;
                &.list_box_color0 {
                   background: #ed8e8e;
                }
                &.list_box_color1 {
                    background: #8cd5ff;
                 }
                 &.list_box_color2 {
                    background: #a58eed;
                 }
                 &.list_box_color3 {
                    background: #ed8ea8;
                 }
                 &.list_box_color4 {
                    background: #bfe395;
                 }
                 &.list_box_color5 {
                    background: #7fe3e0; 
                 }
                &.checked {
                    background: #dfdddd;
                }
                .list_box_close {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    cursor: pointer;
                }
                .list_sub_text {
                    overflow: hidden;
                    margin-bottom: 10px;
                    font-weight: normal;
                    .list_time_icon {
                        float: left;
                        margin-right: 3px;
                    }
                    p {
                        float:left;
                        font-size: 11px;
                    }
                }
                p {
                    margin: 0;
                    padding: 0;
                    color: #fff;
                    &.list_title {
                        margin-bottom: 5px;
                        font-size: 15px;
                        font-weight: bold;
                    }
                    &.list_text {
                        font-size: 12px;
                        font-weight: normal;
                    }
                }
                
                
            }
        }
    }
   
   

}