.write_main {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  .write_cnt {
		position: fixed;
		width: 300px;
		top: 50%;
		left: 50%;
		transform: (translate(-50%, -50%));
		background: #fff;
		border-radius: 20px;
		color:#fff;
		z-index: 5;
		.write_pop_close {
			position: absolute;
			top: -19px;
			right: -15px;
			margin: 0;
			padding: 0;
			color: #000;
			cursor: pointer;
		}
		.write_form {
			padding: 20px 20px 10px;
			.write_title {
				margin: 20px 0;
				font-size: 20px;
				font-weight: 800;
				color: #02cbcb;
			}
			.write_txt_wrap {
				overflow: hidden;
				.write_txt_title {
					float: left;
					width: 30%;
					height: 29px;   
					margin: 0 0 15px;
					padding: 0;
					line-height: 29px;
					font-size: 15px;
					font-weight: 600;
					color: #000;
				}
				.wrtie_datepicker {
					float: left;
					width: 80%;
					height: 30px;
					padding-left: 5px;
					border: 1px solid #c7c7c7;
					border-radius: 5px;
					color: #3b3b3b;
					box-sizing: border-box;
				}
				.write_time {
					overflow: hidden;
					height: 30px;
					line-height: 30px;
					input {
						float: left;
						width: 40%;
						height: 30px;
						padding: 0;
						border: 1px solid #c7c7c7;
						border-radius: 5px;
						box-sizing: border-box;
					}
					span {
						float: left;
						margin: 0 2px;
						color: #000;
					}
				}
				.write_title_input {
					width: 62%;
					height: 30px;
					padding: 0;
					border: 1px solid #c7c7c7;
					border-radius: 5px;
					box-sizing: border-box;
				}
				.write_textarea {
					width: 62%;
					height: 100px;
					padding: 0;
					border: 1px solid #c7c7c7;
					border-radius: 5px;
				}
				.react-datepicker__tab-loop {
					.react-datepicker-popper {
						.react-datepicker {
							border: 1px solie #ebebeb;
							.react-datepicker__header {
								background: #02cbcb;
								border: 1px solid #ebebeb !important;
								.react-datepicker__current-month {
									color: #fff;
								}
								.react-datepicker__day-name {
									color: #fff;
								}
							}
							.react-datepicker__day--selected, 
							.react-datepicker__day--in-selecting-range, 
							.react-datepicker__day--in-range, 
							.react-datepicker__month-text--selected,
							.react-datepicker__month-text--in-selecting-range, 
							.react-datepicker__month-text--in-range, 
							.react-datepicker__quarter-text--selected, 
							.react-datepicker__quarter-text--in-selecting-range, 
							.react-datepicker__quarter-text--in-range,
							.react-datepicker__year-text--selected, 
							.react-datepicker__year-text--in-selecting-range, 
							.react-datepicker__year-text--in-range {
								background: #02cbcb;
							}
							.react-datepicker__day--keyboard-selected:hover,
							.react-datepicker__month-text--keyboard-selected:hover,
							.react-datepicker__quarter-text--keyboard-selected:hover,
							.react-datepicker__year-text--keyboard-selected:hover {
								background: #02cbcb;
							}
						}
					}
				}
			}
			.submitBtn { 
				display: block;
				width: 100px;
				height: 30px;
				margin: 20px auto 30px;
				background: #02cbcb;
				border-radius: 10px;
				border: none;
				font-size: 13px;
				font-weight: 700;
				color: #fff;
			}
		}
	}
	.wrtie_bg {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			margin: 0;
			padding: 0;
			background: rgba(0, 0, 0, 0.7);
	}
}